.ciudad{
    font-size: 25px;
}

.tabla img{
    width: 18vw;
    height: 30vh;
    margin: 8px;
    border-radius: 20px;

}

.tabla{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7em;
    background-color: rgb(204, 199, 199);
    border-radius: 20px;
    margin-bottom: 30px;
}

table{
    height: 70px;
  
}

table td{
    padding: 10px;
}

table th{
    padding: 10px;
    text-align: center;
}



.subtitulo{
   display: flex;
   justify-content: space-around;
   gap:200px;
   margin-top: 40px;
   margin-bottom: 90px;
}

.subtitulo button{
    width: 10vw;
    border-radius: 20px;
    padding: 5px;  
    color: white;
    background-color: orange;
}


.subtitulo button:hover{
    background-color: tomato;
}

.descripcion{
    text-align: justify;
    margin-bottom: 15px;
}

.imagenes img{
    width: 300px;
    border-radius: 20px;
    margin-top: 50px;
}

.botones{
    margin-bottom: 4vw;
    display: flex;
    justify-content: space-between;
}

.anyadir-img{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}
.anyadir-img input{
    border-radius: 20px;
    border: 1px solid grey;
    padding: 5px;
    width: 250px;
}

.anyadir-img button{
    border-radius: 50%;
    background-color: #5EC0CA;
}

.anyadir-img button:hover{
    background-color: rgb(7, 3, 66);
}

.modificar{
    width: 10vw;
    border-radius: 20px;
    padding: 5px;  
    color: white;
    background-color: #5EC0CA;
}

.modificar:hover{
    background-color: rgb(7, 3, 66);
}