<div class="footer">
<div class="iconos">
   <img src="../../assets/iconos/Facebook.png" alt="Imagen del logotipo de Facebook">
   <img src="../../assets/iconos/Instagram.png" alt="Imagen del logotipo de Instagram">
   <img src="../../assets/iconos/Twitter.png" alt="Imagen del logotipo de Twitter">
</div>

<div class="enlaces">
    <a routerLink="faq"><li class="list-inline-item">Preguntas frecuentes</li></a>
    <a routerLink="faq"><li class="list-inline-item">Quienes somos</li></a>
    <a routerLink="form-contactanos"><li class="list-inline-item">Contáctanos</li></a>
</div>

<div class="copyright">
        <p>© 2021 Adopt-Me &nbsp;&nbsp;&nbsp;&nbsp; contacto@adopt-me.com &nbsp;&nbsp;&nbsp;&nbsp; Telefono: 91 000 00 00</p>
</div>
</div>