<div class="container">
    <h1>Editar perfil</h1>

    <form>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre"  placeholder="Nombre" [(ngModel)]="adoptante.nombre">
                </div>
              </div>

              <div class="col">
                <div class="form-group">
                    <label for="apellidos">Apellidos</label>
                    <input type="text" name="apellidos" id="apellidos"  placeholder="Apellidos" [(ngModel)]="adoptante.apellidos">
                </div>
              </div>

              <div class="col">
                <div class="form-group">
                    <label for="fecha">Fecha de nacimiento</label>
                    <input type="date" class="form-control caracteristicas" id="fecha" name="fechaIngreso"  [(ngModel)]="adoptante.fechaNacimiento" #fechaNacimiento="ngModel" 
                        value="dd-MM-yyyy"
                        min="1020-01-01" max="2022-12-31">   
                </div>
              </div>
         </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="localidad">Localidad</label>
                <input type="text" name="localidad" id="localidad"  placeholder="Localidad" [(ngModel)]="adoptante.localidad">
            </div>
          </div>

          <div class="col">
            <div class="form-group">
                <label for="direccion">Dirección</label>
                <input type="text" name="direccion" id="direccion"  placeholder="Direccion" [(ngModel)]="adoptante.direccion">
            </div>
          </div>

          <div class="col">
            <div class="form-group">
                <label for="imagenPerfil">Imagen de Perfil</label>
                <input type="text" name="imagenPerfil" id="imagenPerfil"  placeholder="Imagen de Perfin" [(ngModel)]="adoptante.imagenPerfil">
            </div>
          </div>

        </div>

          <div class="row">
          <div class="col">
            <label for="descripcion">Descripción</label>
            <textarea class="form-control" name="descripcion" id="descripcion" [(ngModel)]="adoptante.descripcion"
            ></textarea>
       
        </div>
    </div>

    <div class="botones">
        <button class="guardar" (click)="updateAdoptante()">Guardar</button>
    </div>
  </form>
</div>