<div class="container">
    <h1>Contacto</h1>

    <form>
        <div class="principal">
            <div class="inputs">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="titular">Titular</label>
                    <input type="text" name="titular" id="titular"  placeholder="Titular" #nombre>
                </div>
              </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email"  placeholder="Email" #email>
                </div>
              </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="telefono">Teléfono</label>
                    <input type="text" name="telefono" id="telefono"  placeholder="Teléfono" #telefono>
                </div>
              </div>
        </div>
    </div>
  
   <img src="../../assets/EmojiPerrito.png">
        </div>
        <div class="row">
            <div class="col">
            <label for="descripcion">Descripción</label>
            <textarea class="form-control" name="descripcion" id="descripcion" rows="5" #descripcion></textarea>
        </div>
        </div>
     <div class="boton">
        <button>Enviar</button>
     </div>
 </form>
</div>