<div class="container">
    <div class="encabezado">
      <h1>Finales Felices</h1>
      <button routerLink="/form-finales-felices">Añadir final feliz </button>
    </div>
      
      
      <div class="cards">
          <div class="row">
              <div class="col">
      <div class="card" style="width: 18rem;" (click)="open(content1)">
          <img class="card-img-top" src="../../assets/queDicenUsuarios/conAkira.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Caqui</p>
          </div>
        </div>
      </div>
      
      
      <div class="col">
          <div class="card" style="width: 18rem;" (click)="open(content1)">
              <img class="card-img-top" src="../../assets/queDicenUsuarios/conAkira.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Caqui</p>
              </div>
            </div>
      </div>
      
      <div class="col">
          <div class="card" style="width: 18rem;" (click)="open(content1)">
              <img class="card-img-top" src="../../assets/queDicenUsuarios/conAkira.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Caqui</p>
              </div>
            </div>
      </div>
      
      <div class="col">
        <div class="card" style="width: 18rem;" (click)="open(content1)">
            <img class="card-img-top" src="../../assets/queDicenUsuarios/conAkira.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Caqui</p>
            </div>
          </div>
    </div>
    
    <ng-template #content1 let-modal>
        <div class="modal-header">
          <h4 class="modal-title negrita" id="modal-basic-title">Rocky</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         
          <p class="negrita">Aquí tenemos a Rocky el 18 de Enero de 2022</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate rerum obcaecati soluta repudiandae quae nisi totam alias eveniet aliquam, nostrum non ratione asperiores eligendi, blanditiis aspernatur praesentium quam qui nulla!
          Iure corporis tempore quos sapiente, distinctio accusamus sequi voluptatum exercitationem dolores veritatis ad adipisci sed similique illum quidem est, excepturi ipsam. Illum quas aut officia labore corporis odit corrupti maxime!
          Voluptate possimus, totam id deleniti culpa saepe ea aspernatur nostrum? Vero quibusdam commodi, numquam, in aliquid molestias inventore consequuntur eum eveniet, optio ipsum? Maiores soluta dolorem aliquid minima magnam iusto!
          Nostrum fugit deserunt culpa odit est accusantium possimus quaerat non esse inventore architecto, nulla expedita quisquam, atque aut? Minima molestias dolores, a esse ullam corrupti ad aspernatur voluptate repellat asperiores.
          Rem est accusantium doloremque facilis omnis tempora, eaque harum vitae velit. Nulla non, suscipit numquam nostrum eum reprehenderit vel reiciendis accusamus ullam a dolore, in incidunt, impedit dolor earum nemo?</p>
        </div>
      </ng-template>
    </div>
</div>