<div class="container">

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" style="width: 100%;">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/imagenesCarruselLogin/perro1.jpg" class="d-block w-100 imgCarousel">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imagenesCarruselLogin/gato.jpg" class="d-block w-100 imgCarousel">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imagenesCarruselLogin/perro.jpg" class="d-block w-100 imgCarousel">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imagenesCarruselLogin/gato1.jpg" class="d-block w-100 imgCarousel">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>

      
      
<div class="contenedorComoAdoptar">
      <h1>¿CÓMO ADOPTAR?</h1>
        <div class="infoComoAdoptar">
        
          <div class="instruccion">
          <img src="../../assets/iconosInicio/Perro-Dibujo2.png"  width="80px" height="80px">
          <hr>
          <p>En la opción del menú adopciones puedes ver todos los animales que hay en las protectoras</p>
          </div>

          <div class="instruccion">
          <img src="../../assets/iconosInicio/Gato dibujo.png"  width="80px" height="80px">
          <hr>
          <p>Puedes filtar y elegir el animal que quieras adoptar o acoger temporalmente en tu casa</p>
          </div>

          <div class="instruccion">
          <img src="../../assets/iconosInicio//Conejo dibujo.png" width="80px" height="80px">
          <hr>
          <p>Pulsa sobre el animal que quieras, hay un teléfono y email, o si lo prefieres pulsa en adoptar y usa el chat</p>
          </div>

          <div class="instruccion">
          <img src="../../assets/iconosInicio/CasetaPerro.png"  width="80px" height="80px">
          <hr>
          <p>Podrás darle un nuevo y feliz hogar a tu próxima mascota</p>
          </div>
      </div>
    </div>

<div class="cards">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../assets/animalesLandPage/perroImg.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Bayron</h5>
        <p class="card-text">3 años</p>
        <p class="card-text protectora">Protectora:</p>
        <p class="card-text">Entre bigotes y huellas</p>
        <a href="#" class="btn btn-primary">+ info</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../assets/animalesLandPage/gatoImg.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Copi</h5>
        <p class="card-text">2 años</p>
        <p class="card-text protectora">Protectora:</p>
        <p class="card-text">Entre bigotes y huellas</p>
        <a href="#" class="btn btn-primary">+ info</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../assets/animalesLandPage/perro1img.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Thor</h5>
        <p class="card-text">4 años</p>
        <p class="card-text protectora">Protectora:</p>
        <p class="card-text">Entre bigotes y huellas</p>
        <a href="#" class="btn btn-primary">+ info</a>
      </div>
    </div>
 

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/animalesLandPage/gatoRubio.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Eskitch</h5>
      <p class="card-text">4 años</p>
      <p class="card-text protectora">Protectora:</p>
      <p class="card-text">Entre bigotes y huellas</p>
      <a href="#" class="btn btn-primary">+ info</a>
    </div>
  </div>
</div>


  <div class="usuariosYquienesSomos">
    <h2>¿QUÉ DICEN NUESTROS USUARIOS?</h2> 
  </div>

  
<div class="cards">
  <div class="card" style="width: 18rem;">
   
    <div class="card-body">
      <p class="card-text">Gracias a esta aplicación por unirnos más a los adoptantes con los animales, y facilitarnos la comunicación
        con las protectoras más cercanas. </p>
        <p class="card-text">- Ana García</p>
    </div>
 
    <img class="card-img-bottom" src="../../assets/queDicenUsuarios/niñaConPerro.jpg" alt="Imagen de niña feliz con un perro adoptado.">
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <p class="card-text">Me encanta esta aplicación es fácil de usar y muy llamativa, a través de ella contacté con una protectora
        y adopté a Akira, una gatita que vinos a nuestras vidas llena de energía.
      </p>
      <p class="card-text">- Marta Pérez</p>
    </div>
    <img src="../../assets/queDicenUsuarios/conAkira.jpg" class="card-img-bottom" alt="Persona con Akira en brazos.">
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <p class="card-text">Adoptamos a nuestros dos perritos gracias a esta aplicación, sé que se preocupan mucho porque el animal vaya 
        a un hogar donde lo quieran, lo cuiden y lo protegan.
      </p>
      <p class="card-text">- Tony y Nuria</p>
    </div>
    <img src="../../assets/queDicenUsuarios/dosperros.jpeg" class="card-img-bottom" alt="Imagen de familia con dos perros.">
  </div>
 </div>
</div>